html, body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 80% 20%;
    align-content: center;
    position: fixed;  
    top: 0;  
    width: 100%;
    margin: 0 auto;
    height: 75px;
    background-color: #999;
    border-bottom: 3px solid black;
}
header h1 {
    padding-left: 5px;
    font-family: 'titillium web', georgia;
    font-size: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'montserrat', tahoma;
    font-weight: bold;
    font-size: 30px;
    padding-right: 5px;
}
a:link {
    color: #333;
}
#coninfo {
    width: 100%;
    padding-top: 300px;
    display: flex;
    justify-content: center;
    font-family: 'montserrat', arial;
}
#form_cont {
    background-color: #666;
    border: 2px solid black;
    width: 700px;
}
#form_cont h2 {
    font-size: 35px;
    text-align: center;
}
form {
    margin: 25px;
    display: flex;
    flex-direction: column;
}
#description {
    height: 100px;
}
label {
    padding-bottom: 10px;
    padding-top: 10px;
}
#button {
    align-self: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
footer {
    display: grid;
    grid-template-columns: 80% 20%;
    align-content: center;   
    width: 100%;
    height: 75px;
    background-color: #999 ;
    border-top: 3px solid black;
    position: fixed;
    bottom: 0;
}
footer h1 {
    padding-left: 5px;
    font-family: 'titillium web', georgia;
    font-size: 50px;
}