html {
    background-color: #6ecdfa
}
header {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    position: fixed;    
    width: 100%;
    height: 75px;
    background-color: #ff0000;
    border-bottom: 2px solid black;
    margin: auto;
}
header h1 {
    padding-left: 5px;
    font-family: georgia;
    font-size: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: 'josefin sans', tahoma;
    font-weight: bold;
    font-size: 30px;
    padding-right: 5px;
}
#about {
    padding-top: 85px;
    display: flex;
    align-items: center;
}
#about img {
    max-height: 500px;
    border-radius: 100%;
    margin: 5px;
}
#about h2 {
    text-align: center;
}
#desc {
    background-color: #006c00;
    height: 500px;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 20px 300px;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
#projects h2 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    font-size: 30px;
    font-family: georgia;
}
#proj_one {
    grid-area: 2 / 1 / 4 / 2;
}
#proj_two {
    grid-area: 2 / 2 / 4 / 3;
}
#proj_three {
    grid-area: 2 / 3 / 4 / 4;
}
#proj_one, #proj_two, #proj_three {
    background-color: #ff00f2;
}
#proj_one h3, #proj_two h3, #proj_three h3 {
    text-align: center;
    font-size: 25px;
}
ul {
    font-size: 20px;
}
footer {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    position: fixed;    
    width: 100%;
    height: 75px;
    background-color: #ff0000;
    border-top: 2px solid black;
}
footer h1 {
    padding-left: 5px;
    font-family: georgia;
    font-size: 40px;
}