html {
    background-color: darkorange;
}
header {
    height: 100px;
}
h1 {
    font-family: 'permanent marker', georgia;
    font-size: 50px;
}
#generator {
    display: flex;
    flex-direction: column;
    font-family: 'permanent marker', georgia;
    font-size: 25px;
    margin-bottom: 25px;
    align-items: center;
}
button {
    font-family: 'josefin sans', tahoma;
    font-size: 25px;
    padding: 10px;
    width: 250px;
    background-color: dodgerblue;
    border: 2px dashed black;
}
#resultText {
    height: 50px;
    font-family: 'permanent marker', georgia;
    font-size: 25px;
}
#result_col {
    display: grid;
    grid-area: 1 / 1 / 3 / 4;
    grid-template: 80% 20% / 1fr 1fr 1fr;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
#warrior, #ability, #tool {
    display: grid;
    grid-template-rows: 90% 10%;
    width: 600px;
    height: 800px;
    background-color: white;
    font-family: 'permanent marker', georgia;
    font-size: 25px;
}
#character_img, #power_img, #item_img {
    grid-row: 1 / 2;
    width: 550px;
    height: 700px;
    overflow: hidden;
    padding: 5px;
}
h1, h2, #results {
    text-align: center;
}
#proj_desc {
    display: flex;
    justify-content: center;
}
#proj_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    background-color: lightgray;
    border: 1px solid black;
    width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
@media only screen and (max-width: 480px) {
    header {
        height: 25px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    #resultText {
        font-size: 20px;
        height: 25px;
    }
    #result_col {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #warrior, #ability, #tool {
        width: 400px;
        margin-top: 10px;
    }
    #character_img, #power_img, #item_img {
        width: 350px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    header {
        height: 35px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    #resultText {
        font-size: 25px;
        height: 30px;
    }
    #result_col {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #warrior, #ability, #tool {
        width: 500px;
        margin-top: 10px;
    }
    #character_img, #power_img, #item_img {
        width: 450px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        height: 45px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 35px;
    }
    #resultText {
        font-size: 35px;
        height: 40px;
    }
    #result_col {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #warrior, #ability, #tool {
        width: 600px;
        margin-top: 10px;
    }
    #character_img, #power_img, #item_img {
        width: 550px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    #warrior, #ability, #tool {
        width: 500px;
        margin-top: 10px;
    }
    #character_img, #power_img, #item_img {
        width: 450px;
    }
}